{% load static %}
<div id="contact-bar" class="contact-bar" >
	<div id="ishow-contact-bar" class="contact-bar w3-bar">
		<img class="w3-image" src="{{ MEDIA_URL }}favicon.png"/> #1 Flamenco Lessons </a>
	{% if all_contacts %}
		{% for contact in all_contacts %}
		<a href="{{contact.link}}" class="w3-bar-item  w3-hover-cyan" target="_blank" title="{{contact.text}}"><i class="{{contact.icon}}"></i></a>
		{% endfor %}
	{% endif %}
		<a href="javascript:void(0);" class="w3-bar-item contact-burger w3-hover-cyan" onclick="fold_contact_buttons();">
		<i class="fa fa-bars"></i>
		</a>
	</div>
  </div>